@font-face {
    font-family: LMRoman10;
    src: url(latin-modern-roman/lmroman10-regular.otf);
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: 'LMRoman10', sans-serif;
    font-size: 15pt;
    color: white;
    
}

body.secret{
    background-color: linear-gradient(black 60%, transparent);
    background-position: bottom;
    background-repeat: no-repeat;
}


img{
    display: block;
    height: 200px;
    text-align: center;
    margin: auto;
}

h1, h2, h3{
    text-align: center;
}

div.text{
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

p{
    text-indent: 40px;
    line-height: 1.4em;
}

blockquote{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    
}

.counter{
    margin-top: 50px;
    text-align: center;
    font-size: 30pt;
}

.quote{
    margin-top: 50px;
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.key{
    margin-top: 50px;
    font-family: 'LMRoman10', sans-serif;
    color: white;
    background-color: rgb(22, 22, 22);
    outline: none;
    border: 0;
}